[flake8]
exclude = 
    venv,
    .venv,
    __pycache__,
    .git,
    .pytest_cache,
    migrations,
    node_modules,
    .env
max-line-length = 79
ignore = 
    E203,
    E501,
    W503,
    F401,
    F403,
    F405
per-file-ignores =
    __init__.py:F401,F403
